## Dataset Formatting using Pandas

In [1]:
import pandas as pd

dataset link:
```http
https://www.kaggle.com/datasets/venky73/spam-mails-dataset
```

In [2]:
df = pd.read_csv('spam.csv')

In [3]:
df.rename(columns={'v1':'label','v2':'text'},inplace=True)
df

,label,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
df.drop(columns=['Unnamed: 2',	'Unnamed: 3',	'Unnamed: 4'],inplace=True)

In [5]:
df['label_num'] = df['label'].map({'spam': 0, 'ham':1})
df

     label                                               text  label_num
0      ham  Go until jurong point, crazy.. Available only ...          1
1      ham                      Ok lar... Joking wif u oni...          1
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          0
3      ham  U dun say so early hor... U c already then say...          1
4      ham  Nah I don't think he goes to usf, he lives aro...          1
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...          0
5568   ham              Will �_ b going to esplanade fr home?          1
5569   ham  Pity, * was in mood for that. So...any other s...          1
5570   ham  The guy did some bitching but I acted like i'd...          1
5571   ham                         Rofl. Its true to its name          1

[5572 rows x 3 columns]

Convert the text into numbers and split test train

Multinomial Naive Bayes

Performace Check Exercise: